@page "/MultiTable"

<PageTitle>MultiTable</PageTitle>

<h1> Multiplication Table</h1>

<table class="table">
    <thead>
        <tr>
            <th style="color: red"></th>    
            @for (int i = 1; i < 11; i++)
            {
                <th style="color: red">@i</th>
            }
        </tr>
    </thead>
    <tbody>
        @for (int i = 1; i < 11; i++)
        {
            <tr>
                <td style="color: red">@i</td>
                @for (int j = 1; j < 11; j++)
                {
                    int result = i * j;
                    <td>@result</td>
                }
            </tr>
        }
    </tbody>
</table>